---
  import AppLayout from '../components/AppLayout.astro'
  import Check from '../components/Icons/Check.jsx'
  import Service from '../components/Icons/Service.jsx'
  import Control from '../components/Icons/Control.jsx'
  import Production from '../components/Icons/Production.jsx'
  import Phone from '../components/Icons/Phone.jsx'
  import db from '../data/db.json'
  import Section from '../components/Section.astro'
  import SectionImg from '../components/SectionImg.astro'
  import Info from '../components/Info.astro'

  const articles = db.articles
  const sectores = db.sectores
  const url = db.url ?? ''
---

<AppLayout>
  <Section id="empresa" styles="grid lg:grid-cols-2 gap-4" background="bg-white">
    <div class="p-4 lg:p-2">
    <h2 class="text-secondary text-4xl my-6 font-bold">Mecanizados Kapelamendi</h2>
    <p class="my-2">FABRICACIÓN DE MAQUINARIA INDUSTRIAL ESPECIALIZADA Y MECANIZACIÓN DE PIEZAS</p>
    <p>Fundada en 2005 con el nombre de MECANIZADOS KAPELAMENDI, S.L.L. nos dedicamos a la fabricación y mecanizado bajo plano del cliente.</p>
    </div>
    <div class="mt-6 p-10 py-16 lg:py-4 flex flex-col bg-secondary text-white lg:text-black lg:bg-white">
      <div>
        <Info 
          title="C/ Capelamendi, nº3 en el polígono industrial de Betoño en Vitoria-Gasteiz" 
          subtitle="Fácil acceso desde los principales nudos de distribución de tráfico, tanto para la capital como para las principales carreteras nacionales, teniendo por tanto una situación privilegiada." 
        />
        <Info 
          title="Superficie de 6.500 m2 de los cuales se encuentran cubiertos 5.323 m2." 
          subtitle="La nave industrial, con un edificio de oficinas de dos plantas adosado, se distribuye en mecanizado, montaje, pintura, almacenes y control de calidad." 
        />
        <Info 
          title="Máxima fiabilidad y capacidad de mecanizado" 
          subtitle="Contamos con mandrinadoras, fresadoras, tornos verticales, tornos paralelos, rectificadoras cílíndricas y tangenciales, taladros, mortajadoras, soldadura automática, etc." 
        />
        <Info 
          title="8 puentes grúa con capacidad de hasta 50 Tm."
        />
      </div>
    </div>
  </Section>
  <Section background="bg-white">
    <div class="bg-primary lg:rounded grid lg:grid-cols-3 gap-4">
      {articles.map((article) => {
        return (
          <div class="p-6 min-h-40">
            <article>
              <div>{(article.icon === 'service') ? <Service color='#062b5b' /> : (article.icon === 'production') ? <Production color='#062b5b' /> : <Control color='#062b5b' />}</div>
              <h2 class="text-secondary text-2xl font-bold mb-6 border-b-2 border-secondary">{article?.title}</h2>
              {article?.content.map((content) => {
                return <p class="text-white pb-2">{content}</p>
              })}
            </article>
          </div>
        )
        }
      )}
    </div>
  </Section>
  <Section id="sectores" styles="px-6" background="bg-white">
    <h2 class="text-secondary text-4xl font-bold mb-6">Sectores</h2>
    <p>KAPELAMENDI cuenta con personal muy experimentado y cualificado formado por profesionales tanto en las áreas de producción y montaje, como en administración, compras, personal, etc. con un alto grado de compromiso con la organización. Por la versatilidad de la maquinaria disponemos de una gran flexibilidad y adaptación a cada una de las necesidades de nuestros clientes. KAPELAMENDI ofrece un servicio completo y personalizado. Esto ha hecho posible que KAPELAMENDI lleve a cabo su actividad en diversos mercados, principalmente: </p>
    <div class="sectors mt-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 font-bold text-center justify-center ">
      {sectores.map((sector)=> {
        return (
          <div class="bg-secondary text-white rounded p-4 flex items-center justify-center">
            <p>{sector}</p>
          </div>
          )
      })}
    </div>
  </Section>
  <Section id="productos-y-servicios"  styles="px-6" background="bg-secondary">
    <div class="lg:container px-6 text-white">
      <h2 class="text-primary text-4xl font-bold mb-16">Productos y servicios</h2>
      <div class="flex flex-wrap gap-4 flex-col space-y-16 lg:space-y-0 lg:flex-row">
        <div class="object-cover w-full max-w-[500px] md:w-1/2 mx-auto">
          <img class="shadow-2xl border-2 border-primary" src={`${url}/images/mecanizado.jpg`} />
          <p class="mt-4">Mecanizado de piezas de gran tamaño y peso.</p>
          <p>Hasta 12 toneladas, en serie corta o individual.</p>
        </div>
        <div class="object-cover w-full max-w-[500px] md:w-1/2 mx-auto">
          <img class="shadow-2xl border-2 border-primary"  src={`${url}/images/montaje.jpg`} />
          <p class="mt-4">Montaje de conjuntos y subconjuntos de piezas.</p>
        </div>
      </div>
    </div>
  </Section>
  
  <Section  id="calidad" styles="px-6" background="bg-white">
    <h2 class="text-secondary text-4xl font-bold mb-6">Calidad</h2>
    <p class="mb-2">KAPELAMENDI mantiene un compromiso firme con la Calidad en la línea de la mejora continua, mediante la optimización de sus recursos, la innovación constante, la aplicación de nuevas tecnologías y la búsqueda de nuevos mercados, para conseguir el objetivo de "cero defectos" y unos productos de la máxima eficacia, fiabilidad y durabilidad a precios competitivos.</p>
    <SectionImg images={[
      {type: "img-shadow my-16", url:"./images/metrologia.jpeg"}
    ]}/>
    <p class="mb-2">La empresa cuenta con la acreditación de AENOR  de su sistema de calidad en ISO 9001:2015.</p>
    <p class="mb-16">
      Para asegurar la correcta verificación de los productos fabricados se cuenta en el taller y en metrología con todos los equipos necesarios (calibres, micrómetros, sondas... ) así como un equipo de medición tridimensional Stiefelmayer-Zeiss con capacidad de 2.400 x 1.400 x 1.200 mm.
    </p>
    <SectionImg images={[
      {type: "shadow-2xl border-2 border-primary", url:"./images/calidad.webp"},
      {type: "shadow-2xl border-2 border-primary", url:"./images/certificado-aenor.webp"}
    ]}/>
  </Section>
  <Section id="onatek" styles="px-6" background="bg-white">
    <h2 class="text-secondary text-4xl font-bold mb-6">Onatek</h2>
    <img class="my-16 object-cover w-full max-w-[500px] md:w-1/3 mx-auto"  src={`${url}/images/kapelamendi-onatek.jpg`} />
    <p class="mb-2">ONATEK agrupa tres centros productivos complementarios referentes en su sector, con una alta experiencia en la fabricación de componentes y preparados para asumir nuevos retos productivos.</p>
    <p class="mb-2">Ofrece desde soluciones de subcontratación de piezas hasta la elaboración de máquinas complejas y prototipos de llave en mano.</p>
    <SectionImg images={[
      {type: "shadow-2xl border-2 border-primary my-16", url:"./images/onatek.jpg"}
    ]}/>
     <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <div class="bg-secondary shadow-lg shadow-secondary rounded text-white p-4">
        <h3 class="text-primary mb-2 font-bold">STEEL SOLUTIONS</h3>
        <p>Soluciones en calderería, soldadura, estructuras metálicas y montaje externo.</p>
      </div>
      <div class="bg-secondary shadow-lg shadow-secondary rounded text-white p-4">
        <h3 class="text-primary mb-2 font-bold">ENGINEERING CONTROL</h3>
        <p>Ingeniería especializada en la automatización y control de procesos industriales mejorando hardware y software.</p>
      </div>
      <div class="bg-secondary shadow-lg shadow-secondary rounded text-white p-4">
        <h3 class="text-primary mb-2 font-bold">MECHANICAL PRECISION</h3>
        <p>Fabricación de maquinaria industrial especializada y mecanización de piezas.</p>
      </div>
    </div>
  </Section>

  <section id="contacto" class="py-16 px-6 bg-primary text-white">
  <div class="lg:container py-16 mobile-full-w lg:rounded w-full lg:px-6">
  <h2 class="text-secondary text-4xl font-bold mb-6">Contacto</h2>
    <p class="mb-8">Puedes contactar con nosotros...</p>

    <div class="">
        <h3 class="text-secondary mb-2 font-bold">TELÉFONO:</h3>
        <div class="my-8 mx-auto text-center md:text-left md:w-full md:mx-0">
          <a class="bg-secondary text-white p-4 rounded shadow-lg shadow-secondary flex items-center justify-center" href="tel:+34945261600">
            <Phone color="white" size="7"/>
            (34) 945 26 16 00
          </a>
          </div>
      </div>
    <h3 class="text-secondary mb-10 font-bold">EMAIL:</h3>
     
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
      
      <div class="bg-secondary shadow-lg shadow-secondary rounded text-white p-4">
        <h3 class="text-primary mb-2 font-bold">AMAIA ECHEVERRÍA:</h3>
        <p><a href="mailto:direccion@kapelamendi.com">direccion@kapelamendi.com</a></p>
        <p><a href="mailto:administracion@kapelamendi.com">administracion@kapelamendi.com</a></p>
      </div>
      <div class="bg-secondary shadow-lg shadow-secondary rounded text-white p-4">
        <h3 class="text-primary mb-2 font-bold">RAFA EGAÑA:</h3>
        <p><a href="mailto:gestion@kapelamendi.com">gestion@kapelamendi.com</a></p>
      </div>
      <div class="bg-secondary shadow-lg shadow-secondary rounded text-white p-4">
        <h3 class="text-primary mb-2 font-bold">IÑAKI SIMÓN Y JORGE BOAL: </h3>
        <p><a href="mailto:calidad@kapelamendi.com">calidad@kapelamendi.com</a></p>
      </div>
      <div class="bg-secondary shadow-lg shadow-secondary rounded text-white p-4">
        <h3 class="text-primary mb-2 font-bold">YANI PALMERO:</h3>
        <p><a href="mailto:compras@kapelamendi.com">compras@kapelamendi.com</a></p>
      </div>
    </div>
  </div>
    
    
  </section>
  <section>
  <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.093137422881!2d-2.6463203837600453!3d42.87087827915593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4fc2e223ae4e21%3A0xec04ce9ae4c9e4e6!2sKapelamendi%20Kalea%2C%203%2C%2001013%20Gasteiz%2C%20Araba!5e0!3m2!1ses!2ses!4v1646218147284!5m2!1ses!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </section>

</AppLayout>
